@charset "UTF-8";
/* fonts */
/* animation */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Визуально спрятанная section-title и portfolio */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ultilities */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: #757575;
  text-decoration: none;
}

/* body */
body {
  margin: 0;
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

/* logo */
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

.logo--rev {
  color: #ffffff;
}

.logo__accent {
  color: #2196f3;
}

/* header */
/* page navigation */
.head-section {
  border-bottom: 1px solid #ececec;
}

.head-section__containter {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
}

@media screen and (min-width: 480px) {
  .head-section__containter {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .head-section__containter {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .head-section__containter {
    width: 1200px;
  }
}

@media screen and (min-width: 480px) {
  .head-section__containter {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .head-section__containter {
    width: 768px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .head-section__containter {
    width: 1200px;
    height: 80px;
    margin-bottom: 0;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 80px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.menu-button .icon-menu {
  display: block;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-nav__menu {
    display: none;
  }
}

.main-nav__menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 796px;
  padding: 48px 40px;
  background-color: #ffffff;
  text-align: left;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 2%;
}

@media screen and (min-width: 768px) {
  .main-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__menu {
    width: 100%;
  }
}

.menu-button.is-open .icon-cross {
  display: block;
}

@media screen and (min-width: 768px) {
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-nav__link {
  display: inline-block;
  padding-bottom: 32px;
  color: #212121;
}

.page-nav__link:hover, .page-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .page-nav__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .page-nav__link {
    margin: 0;
  }
}

@media screen and (min-width: 480px) {
  .page-nav__link {
    position: relative;
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 480px) {
  .page-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.page-nav__current {
  color: #2196f3;
}

/* синяя подсветка текущец страницы */
@media screen and (min-width: 768px) {
  .page-nav__current::after {
    display: inline-block;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    margin: 0;
    padding: 0;
    background-color: #2196f3;
  }
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-bottom: 0;
    font-size: 34px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts__item {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item {
    padding: 0;
  }
}

.contacts__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts--phone {
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .contacts--mail {
    font-size: 24px;
    line-height: 1.12;
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .social-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    padding: 0;
    width: 357px;
  }
}

@media screen and (min-width: 768px) {
  .social-menu {
    display: none;
  }
}

.social-menu__item {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}

.social-menu__item a {
  text-decoration: none;
  color: #2196f3;
}

.social-menu__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-menu__item:not(:first-child) {
  padding-left: 10px;
}

@media screen and (min-width: 768px) {
  .social-menu__item {
    display: none;
  }
}

/* hero */
.hero {
  background-color: #c4c4c4;
}

.hero__container {
  /* width: 1600px; */
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 200px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 1600px;
    margin-bottom: 94px;
  }
}

.hero__overlay {
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 480px) {
  .hero__overlay {
    width: 100vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__overlay {
    width: 100vw;
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
  }
}

.hero__title {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  height: 120px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
}

/* section Features */
.features__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .features__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .features__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .features__container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list {
    width: 1200px;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item {
    width: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 15px * 6) / 4);
    margin-bottom: 30px;
  }
}

.feature__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 30px;
  color: #212121;
}

.section__title {
  color: #212121;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
}

.feature__title {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* our works */
.our-works__container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .our-works__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) and (min-width: 480px) {
  .our-works__container {
    width: 480px;
  }
}

@media screen and (min-width: 1200px) and (min-width: 768px) {
  .our-works__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .our-works__container {
    width: 1200px;
  }
}

.our-works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.our-works__thumb {
  position: relative;
  max-width: 100%;
  height: 100%;
}

.our-works__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

/* our team */
.team__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .team__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .team__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team__container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .team__container {
    padding-top: 94px;
    margin-bottom: 94px;
  }
}

.team__section {
  background-color: #f5f4fa;
}

.team__list {
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .team__list {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    width: 1200px;
    padding-bottom: 94px;
  }
}

.team__item {
  display: block;
  width: 270px;
  height: 428px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 15px * 4) / 2);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 15px * 8) / 4);
    margin-bottom: 0;
  }
}

.team__name {
  margin-top: 30px;
  text-align: center;
}

.team__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin-top: 10px;
}

/* social linkk in team card */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 44px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__item:hover, .socials__item:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.socials__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.socials__icon {
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  fill: currentColor;
}

.socials__icon:hover {
  fill: #ffffff;
}

/* permanent clients */
.clients__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .clients__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .clients__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__container {
    width: 1200px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .clients__list {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    width: 1200px;
  }
}

.clients__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc((100% - 15px * 4) / 2);
  height: 90px;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 15px * 6) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 15px * 12) / 6);
  }
}

.clients__icon {
  display: block;
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover, .clients__icon:focus {
  fill: #2196f3;
}

/* footer */
.footer {
  background-color: #2f303a;
}

.footer__flex {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
}

@media screen and (min-width: 480px) {
  .footer__flex {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__flex {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1200px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer__item {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__item {
    width: calc((100% - 70px * 4) / 2);
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item {
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__logo {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #ffffff;
}

.social__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.socials__icon--darktheme {
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/* footer subscribe form */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe__formfield {
  margin: 0;
  padding: 0;
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe__input {
  width: 100%;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  margin-right: 10px;
  padding-left: 29px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.subscribe__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* backdrop и модальное окно с кнопкой закрытия */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

/* необходимая вложеность для запуска*/
.is-hidden .modal {
  -webkit-transform: translate(150%, -50%);
          transform: translate(150%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
  width: 100vw;
  height: 100vh;
  margin: 93px 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__closebutton {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
}

.modal__closebutton:hover {
  fill: #2196f3;
}

.modal__title {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  width: 100%;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (min-width: 480px) {
  .modal__form {
    width: 370px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form {
    width: 448px;
  }
}

.modal__formfield {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  /* position: relative; */
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1200px) {
  .modal__label {
    font-size: 14px;
  }
}

.modal__input {
  /* position: relative; */
  width: 100%;
  height: 40px;
  padding-left: 43px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  left: 12px;
  bottom: 10px;
  fill: #212121;
  width: 18px;
  height: 18px;
}

.modal__comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__comment:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__check {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.modal-check__label {
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-check__label {
    font-size: 14px;
  }
}

.modal-check__policy-link {
  color: #2196f3;
}

.modal-check__input {
  opacity: 0;
}

.modal-check__icon--unchecked {
  position: absolute;
  left: 2px;
  top: 3px;
  width: 16px;
  height: 16px;
  opacity: 1;
  -webkit-transition: opacity;
  transition: opacity;
}

.modal-check__icon--checked {
  position: absolute;
  left: 2px;
  top: 3px;
  width: 16px;
  height: 16px;
  opacity: 0;
  -webkit-transition: opacity;
  transition: opacity;
}

/* Без вложенности никак!  */
.modal-check__input:checked
+ .modal-check__label
.modal-check__icon--unchecked {
  opacity: 0;
}

.modal-check__input:checked + .modal-check__label .modal-check__icon--checked {
  opacity: 1;
}

.modal-check__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

/* Portfolio button list */
.work-section__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .work-section__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .work-section__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .work-section__container {
    width: 1200px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-left: -8px;
    margin-bottom: 30px;
  }
}

.filter__item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__button {
  display: inline-block;
  background-color: #f5f4fa;
  height: 38px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work__gallery {
  display: block;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .work__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: 94px;
    padding: 0;
  }
}

.work__item {
  width: 370px;
  height: 404px;
  margin: 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work__item:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .work__item {
    width: calc((100% - 15px * 4) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .work__item {
    width: calc((100% - 15px * 6) / 3);
  }
}

.work__img-box {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.work__link {
  height: 100%;
  width: 100%;
}

.work__name {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.work__title {
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/*# sourceMappingURL=main.css.map */