/* permanent clients */
.clients__container {
  @include container;
  margin-bottom: 60px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -15px;

  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.clients__item {
  display: inline-flex;
  width: calc((100% - 15px * 4) / 2);
  height: 90px;

  margin: 15px;

  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: $dur $timeFunc;

  &:hover,
  &:focus {
    border-color: $accentColor;
  }

  @media screen and (min-width: 100vw) {
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 15px * 6) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 15px * 12) / 6);
  }
}

.clients__icon {
  display: block;
  width: 170px;
  height: 90px;
  fill: $mainIconColor;

  transition: $dur $timeFunc;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}
