/* footer */

.footer {
  background-color: $footerBgColor;
}

.footer__flex {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;

    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    @include flex;
    justify-content: space-between;
    width: 1200px;
    text-align: left;
  }
}

.footer__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 70px * 4) / 2);
    margin-left: 70px;
    margin-right: 70px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
  color: $mainBgColor;

  font-style: normal;
  font-size: $mainFontSize;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__logo {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-contacts__link {
  display: inline-flex;
  padding-top: 9px;
  color: rgba(255, 255, 255, 0.6);

  font-size: $mainFontSize;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition: $dur $timeFunc;

  &:hover,
  &:focus {
    color: $mainBgColor;
  }
}

.social__title {
  margin-bottom: 20px;
  color: $mainBgColor;

  font-weight: 500;
  font-size: $mainFontSize;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.socials__icon--darktheme {
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;

  fill: $mainBgColor;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/* footer subscribe form */

.form {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe__formfield {
  margin: 0;
  padding: 0;
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;
  color: $mainBgColor;

  font-weight: bold;
  font-size: $mainFontSize;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe__input {
  width: 100%;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;

  background-color: $footerBgColor;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe__button {
  @include button;

  margin-right: 10px;
  padding-left: 29px;

  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.subscribe__button {
  display: inline-flex;
  align-items: center;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
