/* hero */
.hero {
  background-color: $heroSecondaryBg;
}

.hero__container {
  /* width: 1600px; */
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 200px;

  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    margin-bottom: 94px;
  }
}

.hero__overlay {
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    background-image: $bgGradient, url(../images/hero-480.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: $bgGradient, url(../images/hero-480@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__overlay {
    background-image: $bgGradient, url(../images/hero-768.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero__overlay {
      background-image: $bgGradient, url(../images/hero-768@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: $bgGradient, url(../images/hero-1600.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero__overlay {
      background-image: $bgGradient, url(../images/hero-1600@2x.jpg);
    }
  }
}

.hero__title {
  color: $heroTitleColor;

  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  height: 120px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  @include button;
  margin-right: auto;
  margin-left: auto;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
}
