$accentColor: #2196f3;
$logoSeconadryColor: #000000;
$titleTextColor: #212121;
$mainTextColor: #757575;
$mainBgColor: #ffffff;
$footerBgColor: #2f303a;
$heroTitleColor: #ffffff;
$heroBgColor: #2f303a;
$heroSecondaryBg: #c4c4c4;
$btnBgColor: #f5f4fa;
$teamBgColor: #f5f4fa;

$frameBorderColor: #eeeeee;
$mainIconColor: #afb1b8;

/* fonts */
$mainFontFamily: Roboto;
$mainFontSize: 14px;

/* animation */
$dur: 250ms;
$timeFunc: cubic-bezier(0.4, 0, 0.2, 1);
